log
__pycache__
debug\xml
.venv
config.json
debug\\build
debug\\dist
debug\Deli_EPlus_AutoSignUp.spec
debug\xml
debug/Deli_EPlus_AutoSignUp.spec
debug/build/.
debug/build/Deli_EPlus_AutoSignUp/EXE-00.toc
debug/build/Deli_EPlus_AutoSignUp/Analysis-00.toc
debug/build/Deli_EPlus_AutoSignUp/base_library.zip
debug/build/Deli_EPlus_AutoSignUp/Deli_EPlus_AutoSignUp.pkg
debug/build/Deli_EPlus_AutoSignUp/PKG-00.toc
debug/build/Deli_EPlus_AutoSignUp/PYZ-00.pyz
debug/build/Deli_EPlus_AutoSignUp/PYZ-00.toc
debug/build/Deli_EPlus_AutoSignUp/warn-Deli_EPlus_AutoSignUp.txt
debug/build/Deli_EPlus_AutoSignUp/xref-Deli_EPlus_AutoSignUp.html
debug/build/Deli_EPlus_AutoSignUp/localpycs/pyimod01_archive.pyc
debug/build/Deli_EPlus_AutoSignUp/localpycs/pyimod02_importers.pyc
debug/build/Deli_EPlus_AutoSignUp/localpycs/pyimod03_ctypes.pyc
debug/build/Deli_EPlus_AutoSignUp/localpycs/pyimod04_pywin32.pyc
debug/build/Deli_EPlus_AutoSignUp/localpycs/struct.pyc
debug/dist/Deli_EPlus_AutoSignUp.exe
debug/xml/ui_hierarchy_20260712_194057.xml
